.content-container {
  height: 100%;
}

.product-container {
  height: 100%;
}

.product {
  font-size: 1.1em;
  padding: 1em;
  position: absolute;
  top: 25%;
  width: 100%;
  transition: opacity 2s ease-in-out;
  background-color: #FFFFFF;
}

.product__column--image {
  width: 39%;
  float: left;
}

.product__column--info {
  width: 60%;
  float: left;
}

.product__name {
  font-size: 2em;
  font-family: 'HelveticaNeueLight', Helvetica, Arial sans-serif;
}

.product__price {
  font-family: 'HelveticaNeueLight', Helvetica, Arial sans-serif;
  font-size: 2em;
}

.product__image {
  height: 300px;
  width: 300px;
  display: block;
}

.product__star-rating {
  display: block;
  margin: 0.5em 0;
}

.product__availability {
  margin: 1.5em 0 1.5em 0
}

.product__store-availability {
  font-family: 'HelveticaBold', Helvetica, Arial sans-serif;
  color: #718133;
  display: block;
  margin-bottom: 0.5em;
}

.product__store-location {
  display: block;
  font-size: 1.4em;
}

.product-consideration {
  display: inline-block;
  border-top: 1px solid #000000;
}

.product-consideration__thanks {
  margin: 1em 0;
  font-size: 1.2em;
}

.product-consideration__button-panel {
  margin-top: 2em;
}

.product-consideration__button-panel .button {
  &:first-child {
    margin-right: 0.5em;
  }
}

.product-consideration__question {
  font-family: 'HelveticaRoman', Helvetica, Arial sans-serif;
  font-size: 1.2em;
}

.product__show {
  z-index: 2;
  opacity: 1;
}

.product__hide {
  z-index: 1;
  opacity: 0;
}
