$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.suggested-products {
  height: 100%;
}

header {
  height: 75px;
  top: 0;
  position: absolute;
}

.product-container {
  top: 75px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.product {
  height: 100%;
  padding: 1em;
  font-size: 0;
}

.product:nth-last-of-type(even){
  background-color: green;
}

.product:nth-last-of-type(odd) {
  background-color: red;
}

.product-column {
  height: 100%;
  width: 50%;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.product__image {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  display: block;
}

.product__star-rating {
  display: block;
}

.ng-hide-add {
  animation: 2s animateLeave ease;
}

.ng-hide {
  left: 100%;
}

.ng-hide-remove {
  animation: 2s animateEnter ease;
}

@keyframes animateLeave {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes animateEnter {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
