$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "typography";
@import "product";
@import "buttons";

html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 75px;
  top: 0;
  position: absolute;
}
