$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.suggested-products {
  height: 100%;
  padding: 1em;
}

.product-container {
  height: 100%;
  padding: 0.5em;
}

.product {
  height: 100%;
  padding: 1em;
}

.product:nth-last-of-type(even){
  background-color: green;
}

.product:nth-last-of-type(odd) {
  background-color: red;
}

.product__image {
  height: 20em;
  width: 100%;
}
